In [38]:
import pandas as pd
import re

### 1. Cargue el archivo dolar_2019_sii.csv a un dataframe que se llame dolar_2019 usando pandas. ¿Que argumento necesita pd.read_csv() para leer las columnas correctamente?

In [45]:
dolar_2019 = pd.read_csv('../data/raw/dolar2019_sii.csv', sep=';')
dolar_2019.head(5)

,Día,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
0,1,NaN,"657,81","651,79","678,53",NaN,NaN,"679,15","700,82",NaN,"728,21",NaN,NaN
1,2,"694,77",NaN,NaN,"672,56","678,71",NaN,"677,62","704,88","720,20","729,38",NaN,"812,13"
2,3,"697,09",NaN,NaN,"670,05","683,31","709,80","681,30",NaN,"724,72","727,80",NaN,"804,29"
3,4,"697,64","655,39","656,57","667,55",NaN,"704,59","680,48",NaN,"725,69","719,53","735,05","802,44"
4,5,NaN,"653,80","659,07","666,32",NaN,"696,78","677,64","711,13","723,30",NaN,"736,66","796,75"

### 2. Explore el archivo dolar_2020_sii.txt. ¿Qué estructura tiene, en que se diferencia y en qué es igual al dataframe anterior? ¿Qué método y argumento hay que usar para leer las columnas correctamente?. Carguelo en un dataframe llamado dolar_2020_txt.

In [47]:
dolar_2020_txt=pd.read_csv('../data/raw/dolar_2020_sii.txt', sep='|')
dolar_2020_txt.head(5)

,1,Unnamed: 1,Unnamed: 2,Unnamed: 3,"852,03",Unnamed: 5,"806,32","821,23",Unnamed: 8,"776,46","788,15",Unnamed: 11,"767,29"
0,2,"748,74",NaN,"818,32","863,81",NaN,"796,46","816,29",NaN,"770,59","785,04","771,92","760,16"
1,3,"754,16","799,11","817,45","861,89",NaN,"782,86","803,98","757,06","771,45",NaN,"769,17","755,34"
2,4,NaN,"790,92","809,81",NaN,"837,92","769,13",NaN,"761,34","773,71",NaN,"758,53","752,03"
3,5,NaN,"781,78","812,19",NaN,"838,74","775,58",NaN,"767,98",NaN,"790,81","757,16",NaN
4,6,"758,49","776,99","823,28","863,99","832,84",NaN,"801,46","774,82",NaN,"794,34","752,01",NaN

### 3. Explore el archivo dolar_2020_sii_AA.txt. ¿Qué estructura tiene? ¿Será buena idea ocupar expresiones regulares para indicar el separador? (hint: sí). Carguelo en un dataframe llamado dolar_2020_regex y compárelo con el dataframe dolar_2020_txt. ¿Son exactamente iguales en la información que traen?

In [91]:

f = open("../data/raw/dolar_2020_sii_AA.dat","r")

lines = f.readlines()
# Idea  de Carola
a = []
for i in lines:
    list = re.split('[a-zA-Zá-ý]{3}',i)
    #print(list)
    a.append(list)
dolar_2020_regex = pd.DataFrame(a)
dolar_2020_regex.drop(columns=[13,14], inplace=True)
dolar_2020_regex[12].replace(to_replace='\n',value='', regex=True, inplace=True)
dolar_2020_regex = dolar_2020_regex.iloc[:-1,:]

In [92]:
dolar_2020_regex.tail(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12
26,27,"776,52","811,10","836,05","859,95","802,10",,"768,63","786,91",,"779,57","766,00",
27,28,"787,86","816,26",,"856,76","816,47",,"768,81","784,27","787,15","772,05",,"710,26"
28,29,"788,13",,,"850,41","812,74",,"767,82",,"784,19","775,56",,"710,64"
29,30,"788,18",,"835,23","836,62",,"816,36","759,18",,"784,46","770,45","766,69","711,24"
30,31,"797,96",,"846,30",,,,"754,45","779,92",,,,

### 4. Haga las siguientes operaciones de wrangling y limpieza:

Filtre sacando la última fila, arreglando y homogeneizando los encabezados para los tres dataframes
Revise que los nombres de las columnas sean los mismos en cada dataframe.
Cree una columna en cada uno de los tres dataframes que se llame year y que tenga el año correspondiente, y que su type sea int64.
Convierta las comas a puntos en cada uno de los tres dataframes.
Fuerce que todas las variables sean de tipo int o de tipo float.

In [85]:
dolar_2020_txt.set_axis(dolar_2019.columns.to_list(), axis='columns', inplace=True)

In [93]:
dolar_2020_regex.set_axis(dolar_2019.columns.to_list(), axis='columns', inplace=True)

In [96]:
dolar_2019.columns

Index(['Día', 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep',
       'Oct', 'Nov', 'Dic'],
      dtype='object')

In [97]:
dolar_2020_txt.columns

Index(['Día', 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep',
       'Oct', 'Nov', 'Dic'],
      dtype='object')

In [94]:
dolar_2020_regex.columns

Index(['Día', 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep',
       'Oct', 'Nov', 'Dic'],
      dtype='object')

In [98]:
dolar_2019['year']=2019
dolar_2020_txt['year']=2020
dolar_2020_regex['year']=2020

In [104]:
dolar_2019=dolar_2019.iloc[:-1, :]

In [102]:
dolar_2019.replace(to_replace=',', value='.', regex=True, inplace=True)
dolar_2020_regex.replace(to_replace=',', value='.', regex=True, inplace=True)
dolar_2020_txt.replace(to_replace=',', value='.', regex=True, inplace=True)

In [153]:
dolar_2020_regex.head(2)

,Día,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,year
0,1,0.00,0.0,0.00,852.03,0.0,806.32,821.23,0.0,776.46,788.15,0.00,767.29,2020
1,2,748.74,0.0,818.32,863.81,0.0,796.46,816.29,0.0,770.59,785.04,771.92,760.16,2020

In [147]:
dolar_2019.fillna(0, inplace=True)
dolar_2020_txt.fillna(0, inplace=True)
dolar_2020_regex.fillna(0, inplace=True)
columnas = dolar_2019.columns.to_list()[1:-1]
for i in columnas:
    dolar_2019[f'{i}']=dolar_2019[f'{i}'].astype(float)
    dolar_2020_txt[f'{i}']=dolar_2020_txt[f'{i}'].astype(float)
    dolar_2020_regex[f'{i}'] = dolar_2020_regex[f'{i}'].map(lambda x: 0 if len(x)==0 else x)
    dolar_2020_regex[f'{i}']=dolar_2020_regex[f'{i}'].astype(float)
# dolar_2019  = dolar_2019.convert_dtypes(convert_floating=True)
#dolar_2019.apply(pd.to_numeric)

#df.astype(np.float64)

### Exporte estos tres dataframes en la carpeta data/interim de la siguiente forma:

dolar_2019 en formato csv, separado por comas, con nombre d2019.csv
dolar_2020_txt en formato txt, separado por un espacio simple, con nombre d2020.txt.
dolar_2020_regex en formato CSV, separado por ";", de nombre dolar_2020_excel.csv

In [151]:
dolar_2019.to_csv('../data/interim/d2019.csv', sep=',')
dolar_2020_txt.to_csv('../data/interim/d2020.txt', sep=' ')
dolar_2020_regex.to_csv('../data/interim/dolar_2020_excel.csv', sep=';')

### Concatene con pd.concat de dos formas:

dolar_2019 y dolar_2020_txt solo con el argumento axis=1 guardandolo en el dataframe df_concat_1
dolar_2019 y dolar_2020_txt solo con el argumento axis=0 guardandolo en el dataframe df_concat_0 ¿Qué problema podríamos tener con las columnas en df_concat_1 y en los índices en df_concat_0?

In [152]:
df_concat_1 = pd.concat([dolar_2019, dolar_2020_txt], axis=1)
df_concat_0 = pd.concat([dolar_2019, dolar_2020_txt], axis=0)